<header class="container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand" href="https://breakingbadapi.com/">Breaking Bad API</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">&#9650; <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#" id="navbarDropdownStatus"
             role="button" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
          >
            Status
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div (click)="onSetStatus('allCharacters')" class="character-status-button dropdown-item">All</div>
            <div (click)="onSetStatus('alive')" class="character-status-button dropdown-item">Alive</div>
            <div (click)="onSetStatus('deceased')" class="character-status-button dropdown-item">Deceased</div>
            <div (click)="onSetStatus('presumed dead')" class="character-status-button dropdown-item">Presumed Dead</div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seasons
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownSeasons">
            <div (click)="onSetSeason(1)" class="character-status-button dropdown-item">1</div>
            <div (click)="onSetSeason(2)" class="character-status-button dropdown-item">2</div>
            <div (click)="onSetSeason(3)" class="character-status-button dropdown-item">3</div>
            <div (click)="onSetSeason(4)" class="character-status-button dropdown-item">4</div>
            <div (click)="onSetSeason(5)" class="character-status-button dropdown-item">5</div>
          </div>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="name">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Confirm</button>
      </div>
    </div>
  </nav>
</header>

<section class="jumbotron">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-sm-4"
         *ngFor="let character of characters
         | async
         | filterStatus:status
         | filterName:name
         | filterSeason: seasonNumber
         |slice: (page * pageSize) : (page + 1) * pageSize"
    >
      <img src="{{ character.img }}" width="70%" height="70%">
        <ul class="character-prop">
          <li>name: {{ character.name }}</li>
          <li>birthday: {{character.birthday }}</li>
          <li>portrayed: {{character.portrayed }}</li>
          <li>status: {{ character.status }}</li>
          <li>seasons: {{ character.appearance }}</li>
        </ul>
        <div class="character-quote">
          <div
            [routerLink]="['quotes', character.name]"
            class="character-quote-button"
          >
            {{ character.name }} Say
          </div>
        </div>
    </div>
  </div>
</section>

<mat-paginator
  [pageSizeOptions]="[5,10]"
  (page)="changePage($event)"
  [pageSize]="pageSize"
  [pageIndex]="page"
  [length]="(characters | async)?.length"
>
</mat-paginator>

